{% extends "baseDashboard.html" %}

{% block page_title %}
	Data Fasilitas
{% endblock page_title %}


{% block contents %}

  <div class="pagetitle">
    <h1>Data Fasilitas</h1>
    <br>
    <a href="{% url 'fasilitas:fasilitasListCreate' %}"><button type="button" class="btn btn-success">Tambah</button></a>
  </div><!-- End Page Title -->

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Fasilitas</h5>
                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">Nama Fasilitas</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for fasilitas in fasilitasList %}
                    <tr>
                        <th scope="row">{{fasilitas.namaFasilitas}}</th>
                        <td>
                            <a class="btn btn-warning" href="{% url 'fasilitas:fasilitasListUpdate' fasilitas.idFasilitas %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'fasilitas:fasilitasListDelete' fasilitas.idFasilitas %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div><!-- End Left side columns -->

    </div>
</section>

	

	

	
{% endblock contents %}