{% load static %}
<script src="{%static '/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static '/parallax/jarallax.js'%}"></script>
<script src="{%static '/smoothscroll/smooth-scroll.js'%}"></script>
<script src="{%static '/ytplayer/index.js'%}"></script>
<script src="{%static '/dropdown/js/navbar-dropdown.js'%}"></script>
<script src="{%static '/playervimeo/vimeo_player.js'%}"></script>
<script src="{%static '/theme/js/script.js'%}"></script>

<script src="{%static '/formoid/formoid.min.js'%}"></script>
