{% load static %}
<link rel="shortcut icon" href="{%static '/images/logo.png'%}" type="image/x-icon">

<link rel="stylesheet" href="{%static '/material-design/css/material-icons.min.css'%}">
<link rel="stylesheet" href="{%static '/web/assets/mobirise-icons2/mobirise2.css'%}">
<link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap-grid.min.css'%}">
<link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap-reboot.min.css'%}">
<link rel="stylesheet" href="{%static '/parallax/jarallax.css'%}">
<link rel="stylesheet" href="{%static '/dropdown/css/style.css'%}">
<link rel="stylesheet" href="{%static '/socicon/css/styles.css'%}">
<link rel="stylesheet" href="{%static '/theme/css/style.css'%}">

<link rel="preload" as="style" href="{%static '/mobirise/css/mbr-additional.css'%}">
<link rel="stylesheet" href="{%static '/mobirise/css/mbr-additional.css'%}" type="text/css">